.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    width: 100%;

    .inner {
        height: 100%;
        width: var(--default-layout-container-width);
        padding: var(--default-layout-horizontal-spacer);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 20px;
    margin-left: 30px;
    background-color: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        top: 100%;
        background-color: transparent;
    }
}

.action-btn {
    font-size: 24px;
    background-color: transparent;
    margin-left: 24px;
}

.user-avater {
    margin-left: 24px;
    position: relative;
    width: 32px;
    height: 32px;
    background: center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}
